{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "ignorePatterns": ["node_modules/*", ".yalc/*", ".parcel-cache/*", "lib/*"],
  "extends": [
    "sanity",
    "sanity/typescript",
    "sanity/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/require-default-props": "off"
  }
}
