$color-dark: #000 !default;

.loading {
    margin: 0;
    padding: 1rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 2.5em;
    color: $color-dark;
    animation: loading--pulse 2s ease-in-out infinite;
}

@keyframes loading--pulse {
    0% { opacity: .2; }
    30%, 60% { opacity: 1; }
    100% { opacity: .2; }
}