@import "../../../scss/colors";

.entry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover {
    background-color: rgba(color(curious-blue), 0.15);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  &.selected {
    pointer-events: none;
    background-color: color(blue-ribbon);

    .title {
      color: color(white);
    }
  }
}

.flag {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;

  &.error {
    background-color: color(black);
    height: 1.2rem;
    opacity: 0.2;
  }
}

.title {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 2.5em;
  color: color(black);
}

.missing,
.draft {
  margin: 0 0 0 auto;
  font-size: 1em;
  font-weight: 700;
  line-height: 2.5em;
  color: color(yellow-orange);
}

.draft {
  color: color(black);
  opacity: 0.2;
}
