@import "../../scss/colors";

.root {
  padding: 1rem;

  &.disabled {
    opacity: .3;
    pointer-events: none;
  }
}

.schemaselect {
  position: relative;

  select {
    display: block;
    width: 100%;
    padding: .8rem;
    border: 0.1rem solid color(heather);
    background: transparent;
    border-radius: 0.2rem;
    -moz-appearance: textfield;
    appearance: none;

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba(color(blue-ribbon), 0.42);
      border-color: color(blue-ribbon);
    }
  }

  svg {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.dashboard {
  margin-top: 1rem;

  .entry {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    button {
      cursor: pointer;
      display: block;
      padding: .5rem .8rem;
      border: 0;
      background: color(blue-ribbon);
      border-radius: .2rem;
      color: color(white);
      border: .1rem solid color(blue-ribbon);

      &:active {
        background-color: lighten(color(blue-ribbon), 10%);
      }
    }
  }

  .entry + .entry {
    margin-top: 1rem;
  }
}