$color-primary: #156dff !default;
$color-light: #fff !default;
$color-gray: rgba(23, 23, 23, 0.1) !default;
$color-warning: #ffbf48 !default;

.root {
}

.loading {
    padding: 40px 10px;
    text-align: center;
    background-color: $color-gray;
    border-radius: 4px;
}

.switch {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.language {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid $color-primary;
    border-right-width: 0;
    color: $color-primary;
    outline: 0;
    cursor: pointer;
    background: $color-light;

    &:disabled {
        color: $color-light;
        background: $color-primary;
    }

    &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &:last-child {
        border-right-width: 1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.missing {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid darken($color-warning, 20%);
    border-radius: 4px;
    background-color: $color-warning;
    color: darken($color-warning, 30%);

    .entry {
        margin: 0 0 5px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}